@import "../../../styles/root";

.searchContainer {
	//position: relative;
	height: 2.5rem;
	border-radius: 26px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
	//margin-bottom: 1.4rem;
	//display: flex;
	//align-items: center;
	z-index: 1;

	.inputWrapper {
		display: flex;
		align-items: center;
		padding: 0 toRem($padding4);
		text-align: center;
		border: 1px solid #d9d9d9;
		border-radius: toRem($borderRadiusLg) toRem($borderRadiusLg);
		background-color: #fff;

		.input {
			//padding: toRem($padding3) toRem($padding4);
			outline: none;
			border: none;
			background-color: transparent;
			//font-size: toRem(20);
			//line-height: 1.5;
			flex: 1 1 0%;
			//margin-left: 0.75rem;
			height: 2.5rem;
			border: none;
			font-size: 1rem;
			color: rgb(114, 126, 142);
			width: 100%;
		}

		.icon {
			display: flex;
		}
	}
}

.suggestionList {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	padding: 0;
	border: 1px solid #ddd;
	border-radius: 12px 12px;

	.suggestion {
		text-decoration: none;
		padding: 0.5rem 0.6rem;
		display: block;
		text-align: left;

		cursor: pointer;
		border-bottom: 1px solid rgb(219, 163, 233);

		&:first-child {
			border-radius: 0;
			border-radius: 12px 12px 0 0;
			//border-top: 1px solid #676767;
		}

		&:last-child {
			border-radius: 0 0 12px 12px;
			border-bottom: 0;
		}

		&:hover {
			background-color: rgb(247, 230, 252);
		}

		.itemContent {
			display: flex;
			flex-direction: column;
			margin-left: 0.5rem;
			font-size: 0.875rem;

			span {
				color: #393939;
			}

			small {
				color: #8c8c8c;
				font-size: 0.675rem;
				overflow: hidden;
				text-wrap: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}
