@import "../../../styles/root";

.containerWrapper {
	background: #252323;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: toRem(10) toRem(24);

		.logo a {
			display: flex;
			align-items: center;
			color: rgb(194, 195, 197);
			font-size: 1.2rem;
			text-decoration: none;
		}

		.searchContainer {
			min-width: toRem(320);
			max-width: 50%;
			//position: relative;
		}

		.menuList {
			list-style: none;
			display: flex;

			.menuItem a {
				margin: 0 toRem($padding2);
				font-size: toRem($fontSize3);
				font-style: normal;
				text-decoration: none;
				color: $white;
				line-height: normal;

				&.active {
					font-weight: 700;
				}
			}
		}

		.controlActions {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.locateMe {
				display: flex;
				//align-items: center;
				padding: 0.25rem 0.75rem;
				text-align: center;
				border: 1px solid #d9d9d9;
				border-radius: 0.75rem;

				background: transparent;
				//padding: 12px 10px;
				font-weight: 500;
				font-size: 0.875rem;
				cursor: pointer;
				border: none;
				outline: none;
				color: #ad36cb;
				margin: 0 0.5rem;

				svg {
					fill: #ad36cb;
				}

				span {
					padding: 2px 0;
					margin: 0 2px;
				}

				&:hover {
					background-color: #ad36cb;
					color: #fff;

					svg {
						fill: #fff;
					}
				}
			}

			.toggleSwitch {
				position: relative;

				.toggleValue {
					color: rgb(255, 255, 255);
					position: absolute;
					transform: translate(-50%, -50%);
					top: 11px;
					left: 50%;
					font-size: 0.75rem;
					font-weight: 500;
					display: flex;

					sup {
						margin-left: 2px;
					}
				}
			}
		}
	}
}
